body {
    font-family: sans-serif;
    color: white;
    background-color: #191a21;
	 font-weight: 300;
}

.pagina {
    display: flex;
    flex-flow: row;
    width: 100%;
	 min-height: 100vh;
}

.quantidade-produtos {
	color: #9b9b9b;
}

.navegacao {
	display: flex;
	flex-flow: column;
    background-color: #191a21;
	 width: 18%;
	 border-right: 1px solid #5a595946;
}

.cabecalho-navegacao {
	margin-top: 100px;
	margin-bottom: 60px;
	padding: 10px 40px;

}

.lista-navegacao {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.layout-navegacao {
	width: 100%;
}

.botao-navegacao {
	text-decoration: none;
	color: #989797;
	width: 100%;
	display: block;
	padding: 14px 40px;
	font-size: 16px;
}

.botao-navegacao:hover {
	cursor: pointer;
	color: white;
}

.ti-settings {
	padding-top: 210px;
	font-size: 34px;
	margin-left: 40px;
}

.main {
    background-color: #191a21;
    flex-grow: 1;
	 font-weight: 300;
	 margin: 80px;
}

.catalago {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.titulo-catalogo {
	font-size: 28px;
	font-weight: 400;
}

.ti-search {
	font-size: 20px;
}

.ti-adjustments-horizontal {
	font-size: 20px;
	padding-left: 35px;
}

.ti-users {
	font-size: 20px;
	padding-left: 35px;
}

.catalago-tenis {
	display: flex;
}

.best-sellers {
	border: 1px solid #5a595946;
	padding: 10px 10px 10px 10px;
	border-radius: 24px;
}

.espaco-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 24px;
}

.image-sellers {
	height: 160px;
	transform: rotatey(180deg);
}

.informacoes-sellers {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 0px 0px;
}

.sellers {
	font-weight: 400;
	font-size: 18px;
}

.unidade-sellers {
	font-size: 13px;
}

.newlow-box {
	display: flex;
	border: 1px solid #5a595946;
	padding: 16px;
	border-radius: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.espaco-newlow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 210px;
	height: 120px;
	background-color: #ffffff;
	border-radius: 20px;
}

.image-newlow {
	height: 80px;
}

.layout-newlow {
	
}
